---
- name: Install ZSH
  ansible.builtin.apt:
    name: zsh
    state: present

- name: Set ZSH as the default shell
  ansible.builtin.user:
    name: "{{ user }}"
    shell: /usr/bin/zsh

- name: Ensure pipx is added to the PATH environment variable
  ansible.builtin.command: |
    pipx ensurepath
  become: false
  become_user: "{{ user }}"
  register: pipx_ensurepath_result
  changed_when: pipx_ensurepath_result.rc != 0

- name: Set up oh-my-zsh
  block:
    - name: Check if .oh-my-zsh directory exists
      ansible.builtin.stat:
        path: /home/{{ user }}/.oh-my-zsh
      register: oh_my_zsh_dir

    - name: Download oh-my-zsh install script
      ansible.builtin.get_url:
        url: https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh
        dest: "{{ download_dir }}/ohmyzsh_install.sh"
        mode: "0755"
      when: not oh_my_zsh_dir.stat.exists

    - name: Install oh-my-zsh
      ansible.builtin.script: |
        "{{ download_dir }}/ohmyzsh_install.sh"
      become: false
      become_user: "{{ user }}"
      register: oh_my_zsh_output
      changed_when: "'folder already exists' not in oh_my_zsh_output.stdout"
      when: not oh_my_zsh_dir.stat.exists

    - name: Set oh-my-zsh theme
      ansible.builtin.lineinfile:
        path: "/home/{{ user }}/.zshrc"
        regexp: "^ZSH_THEME="
        line: "ZSH_THEME={{ zsh.oh_my_zsh.theme }}"

    - name: Set oh-my-zsh plugins
      ansible.builtin.lineinfile:
        path: "/home/{{ user }}/.zshrc"
        regexp: "^plugins="
        line: "plugins=({{ zsh.oh_my_zsh.plugins }})"

    - name: Add kube-ps1 to the prompt
      ansible.builtin.lineinfile:
        path: "/home/{{ user }}/.zshrc"
        regexp: "^PROMPT="
        line: "RPROMPT='$(kube_ps1)'"

    - name: Copy ZSH custom aliases to oh-my-zsh custom directory
      ansible.builtin.copy:
        src: "dotfiles/.aliases"
        dest: "{{ homedir }}/.oh-my-zsh/custom/aliases.zsh"
        remote_src: true
        mode: "0755"
